{% extends 'base.html.twig' %}

{% block title %}Hello SynthionController!{% endblock %}

{% block content %}

<div>
    check logs to see "this is a log from the autowired log service"
</div>

{% endblock %}
