{% extends 'base.html.twig' %}

{% block title %}Hello SynthionController!{% endblock %}

{% block content %}

<div>
    please click this url to see great movies <br/>
    {{ movieUrl }}
</div>

{% endblock %}
