{% extends 'base.html.twig' %}

{% block title %}Hello SynthionController!{% endblock %}

{% block content %}

<div>
    {% for movie in movieList %}
        <p>{{ movie }}</p><br/>
    {% endfor %}
</div>

{% endblock %}
