{% extends 'base.html.twig' %}

{% block title %}Hello SynthionController!{% endblock %}

{% block content %}

<div>
    query_parameters: {{ query_parameter }}
    <br />
    path_parameter: {{ path_parameter }}
</div>

{% endblock %}
